{
  "presets": ["@babel/preset-env"],
	"plugins": [
		"syntax-async-functions",
		"transform-regenerator",
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
